<div class="login-block">
  <h2> Faça seu login</h2>
  <form>
    <div class="form-group">
      <label for="tittle">user:</label>
      <input type="text" placeholder="ex:zenho_27" name="userName" [(ngModel)]="userName" />
    </div>
    <div class="form-group">
      <label for="description">senha:</label>
      <input type="text" placeholder="senha123" name="passWord" [(ngModel)]="passWord" />
    </div>
    <input (click)="onSubmit()"  type="submit" value="Entrar"/>
  </form>
  <p>Não tem conta?<a class="link" routerLink="/sigin">cadastre-se</a></p>
</div>


