<div class="login-block">
  <h1 class="head">Faça seu login</h1>


  <h4 class="typeTextOne">user</h4>

  <div class="datas">
    <form #form = 'ngForm' (submit)="onSubmit()">
      <input type="text"
      name="usuario"
      [(ngModel)]="userName"/><h4 class="typeTextTwo">senha</h4>
      <input type="text"
      name="password" [(ngModel)]="password"/>
    </form>


  <div>



  </div>
  <button (click)="onSubmit()" class="typeButtonOne" routerLink="/store">Entrar</button>
  <p class="typeThree">Não tem conta?<a class="link" routerLink="/sigin">cadastre-se</a></p>
</div>

