.login-block {
  width: 800px;
  height: 650px;
  background-color: #beb8cb;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
  margin-left: 480px;
  margin-top: 100px;
}

.datas {
  color: black;
  background-color: #beb8cb;
  margin-left: 100px;
  padding-bottom: 40px;

}



.typeTextOne{
  color: #29272E;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
  margin-left: 100px;
  margin-top: 100px;


}

.typeTextTwo{
  color: #29272E;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
  padding-top: 50px;




}

.head{
  color: #29272E;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 265px;
  padding-top: 30px;

}

.typeButtonOne{
  background-color: #29272E;
  color: white;
  margin-left: 240px;
  width: 100px;
  height: 50px;
  margin-top: 100px;


}

.typeThree{
  color: #29272E;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 170px;
  padding-top: 30px;

}

.link {
  color: #423363;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 6px;
  cursor: pointer;
}
